body{
    background: #b4ecfd;
}
.navigation {
    top: 130px;
    background-color: #ED8115;
    height: 50px;
    padding: 10px 15px;
    overflow: hidden;
    border: black;
    border-width: 10px; 
}
nav a {
    padding: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nav-custom:hover {
    color: white;
    background-color: #2D768C;    
}
.nav-logo{
    padding: 0px;
}
.container-fluid{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.card{
    padding-bottom: 0px;
}
.card-body{
    padding: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card-img-top{
    height: 60%;
}
.btn-primary{
    background-color: #ED8115; 
    border: 1px solid #ac7f52;
}
.btn-primary:hover{
    background-color: #2D768C;
    border: 1px solid #205667;
}
#btn-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
