body{
    background-image: url(../img/fondo.png);
}
nav {
    top: 130px;
    background-color: #ED8115;
    height: 50px;
    padding: 10px 30px;
    overflow: hidden;
    border: black;
    border-width: 10px; 
}
nav a {
    padding: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nav-item:hover {
    color: white;
    background-color: #2D768C;    
}
.nav-logo{
    padding: 0px;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
form {
    background-color: #5bbbd9;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 50%;
    padding: 2% 4% 2% 4%;

}
.form-text{
    color: rgb(222, 222, 222);
}
.btn-cont{
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 5%;
    background-color: #ED8115; 
    border: 1px solid #ac7f52;
}
.btn:hover{
    background-color: #2D768C;
    border: 1px solid #205667;
}
button {
    border: none;
    background-color: inherit;
    text-decoration: underline;
}